# Project: ETL

#### 1) 3 fuentes de información con 2 métodos de extracción diferentes 2) Limpiar y Arreglar 3) Crear Base de Datos 4) Codigo limpio y funcional

## Importación

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests as req
from bs4 import BeautifulSoup as bs
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from sqlalchemy import create_engine
import mysql.connector as conn
import warnings
warnings.filterwarnings('ignore')

## Extraer datos

In [2]:
#https://www.pewresearch.org/hispanic/interactives/u-s-unauthorized-immigrants-by-state/
df_migrantes=pd.read_excel('data/migrantes.xls')

In [3]:
#https://worldpopulationreview.com/state-rankings/gun-violence-by-state
df_deaths=pd.read_csv('data/death_state.csv',encoding='windows-1252')

In [4]:
url='https://www.thoughtco.com/gun-owners-percentage-of-state-populations-3325153'
html=req.get(url).content
sopa=bs(html, 'html.parser')

In [5]:
tabla=sopa.find_all('tr')

data=[]

for tr in tabla:
    
    rank=tr.contents[1].text
    
    state=tr.contents[3].text
    guns=tr.contents[5].text 
    
    
    data.append([rank, state, guns])
    
    
reguns=pd.DataFrame(data, columns=['rank', 'state', 'guns'])

### Exploración

In [6]:
df_migrantes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 13 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   State                                                                 51 non-null     object
 1   Unauthorized
immigrant
population                                     51 non-null     object
 2   Unauthorized immigrant % of population                                51 non-null     float64
 3   Unauthorized % of immigrant population                                51 non-null     float64
 4   % of K-12 students with unauthorized immigrant parent(s)              51 non-null     float64
 5   % Mexican of unauthorized immigrants                                  51 non-null     object
 6   % of unauthorized immigrant adults in the U.S. for 5 years or less    51 non-null     object
 7   Change in unauthorized immigrant population, 2007-2016                51 non-null     object
 8   Unauthorized immigrant % of labor force                               51 non-null     float64
 9   Industry with largest number ofunauthorized immigrant workers         51 non-null     object
 10  Industry with largest % of workers who are unauthorized immigrants    51 non-null     object
 11  Occupation with largest number ofunauthorized immigrant workers       51 non-null     object
 12  Occupation with largest % of workers who are unauthorized immigrants  51 non-null     object
dtypes: float64(4), object(9)
memory usage: 5.3+ KB

In [7]:
df_deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ï»¿"State"  50 non-null     object
 1   rate        50 non-null     float64
 2   deaths      50 non-null     int64
 3   reqPermit   36 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

In [8]:
reguns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rank    52 non-null     object
 1   state   52 non-null     object
 2   guns    52 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

### Limpieza de Datos

#### Migrantes

In [9]:
df_migrantes.drop(['Occupation with largest % of workers who are unauthorized immigrants'],axis=1,inplace=True)
df_migrantes.drop(['Occupation with largest number ofunauthorized immigrant workers'],axis=1,inplace=True)
df_migrantes.drop(['Industry with largest % of workers who are unauthorized immigrants'],axis=1,inplace=True)
df_migrantes.drop(['Industry with largest number ofunauthorized immigrant workers'],axis=1,inplace=True)
df_migrantes.drop(['Unauthorized immigrant % of labor force'],axis=1,inplace=True)
df_migrantes.drop(['Change in unauthorized immigrant population, 2007-2016'],axis=1,inplace=True)
df_migrantes.drop(['% of unauthorized immigrant adults in the U.S. for 5 years or less'],axis=1,inplace=True)
df_migrantes.drop(['Unauthorized % of immigrant population'],axis=1,inplace=True)
df_migrantes.drop(['Unauthorized immigrant % of population'],axis=1,inplace=True)

In [10]:
df_migrantes.rename(columns={'State':'state'},inplace=True)
df_migrantes.rename(columns={'% of K-12 students with unauthorized immigrant parent(s)':'students'},inplace=True)
df_migrantes.rename(columns={'% Mexican of unauthorized immigrants':'mexican_percentage'},inplace=True)
df_migrantes.rename(columns={'Unauthorized\nimmigrant\npopulation':'inmigrant_population'},inplace=True)

In [11]:
df_migrantes['state'][8]='District of Columbia'

In [12]:
df_migrantes.inmigrant_population.replace('<','',regex=True,inplace=True)
df_migrantes.inmigrant_population.replace(',','',regex=True,inplace=True)
df_migrantes.mexican_percentage    .replace('-','0',regex=True,inplace=True)

In [13]:
df_migrantes['inmigrant_population']=df_migrantes['inmigrant_population'].astype(int)
df_migrantes['mexican_percentage']=df_migrantes['mexican_percentage'].astype(float)

In [14]:
df_migrantes.sort_values('state',inplace=True)
df_migrantes.head()

        state  inmigrant_population  students  mexican_percentage
0     Alabama                 55000     0.033                0.59
1      Alaska                  5000     0.005                0.23
2     Arizona                275000     0.107                0.78
3    Arkansas                 55000     0.063                0.64
4  California               2200000     0.133                0.69

In [15]:
df_migrantes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 50
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   state                 51 non-null     object
 1   inmigrant_population  51 non-null     int32
 2   students              51 non-null     float64
 3   mexican_percentage    51 non-null     float64
dtypes: float64(2), int32(1), object(1)
memory usage: 1.8+ KB

#### Deaths per State

In [16]:
df_deaths.drop(['reqPermit'],axis=1,inplace=True)
df_deaths.drop(['rate'],axis=1,inplace=True)

In [17]:
df_deaths.rename(columns={'ï»¿"State"':'state'},inplace=True)

In [18]:
df_deaths.sort_values('state',inplace=True)
df_deaths.head()

         state  deaths
1      Alabama    1124
0       Alaska     180
17     Arizona    1134
6     Arkansas     613
43  California    3184

In [19]:
df_deaths.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 1 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   state   50 non-null     object
 1   deaths  50 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

#### Number of guns registered per state

In [20]:
reguns.drop(reguns.index[0],inplace=True)

In [21]:
reguns.drop(['rank'],axis=1,inplace=True)

In [22]:
reguns.guns.replace(',','',regex=True,inplace=True)

In [23]:
reguns['guns']=reguns['guns'].astype(int)

In [24]:
reguns.sort_values('state',inplace=True)
reguns.head()

         state    guns
10     Alabama  168265
45      Alaska   20520
7      Arizona  204817
19    Arkansas  108801
3   California  376666

In [25]:
reguns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 10 to 12
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   state   51 non-null     object
 1   guns    51 non-null     int32
dtypes: int32(1), object(1)
memory usage: 1020.0+ bytes

### To SQL

In [26]:
#Crear base de datos proyecto_3
str_conn='mysql+pymysql://root:mgcSql18@localhost:3306'
cursor=create_engine(str_conn)
cursor.execute('create database proyecto_3;')

In [27]:
str_conn='mysql+pymysql://root:mgcSql18@localhost:3306/proyecto_3'
cursor=create_engine(str_conn)

In [28]:
df_migrantes.to_sql(name='migrantes', con=cursor, if_exists='replace', index=False)
df_deaths.to_sql(name='deaths', con=cursor, if_exists='replace', index=False)
reguns.to_sql(name='reguns', con=cursor, if_exists='replace', index=False)